name: Run Tests

on:
  pull_request:
    branches: 
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4


    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        # pip install -r torch-requirements.txt
        # pip install -r requirements.txt
        # # Install pytest and coverage tools in case they're not in requirements.txt
        pip install pytest pytest-cov

    #  Run tests with coverage report
    - name: Run tests with coverage
      run: |
        pytest --cov=app --cov-report=xml --cov-report=term-missing

    #  Upload coverage report to Codecov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}   
        file: ./coverage.xml
        fail_ci_if_error: true
 
